.x-toolbar .x-segmentedbutton, .x-segmentedbutton {
	.x-button {
		border: 1px solid $dark-segmented-button-border-color;

		&.x-button-pressed {
			background-color: $dark-segmented-button-pressed-background-color;
			.x-button-label {
				color: $dark-primary-text-color;
			}
		}
	}

	.x-last {
		border-right: 1px solid $dark-segmented-button-border-color;
	}
}