/**
 * @class Ext.dataview.List
 */

/**
 * @var {color} $list-color
 * Text color for list rows.
 */
// $list-color: #000 !default;

/**
 * @var {color} $list-bg-color
 * Background-color for list rows.
 */
// $list-bg-color: #f7f7f7 !default;

/**
 * @var {boolean} $list-zebrastripe
 * Optionally zebra-stripe the list (alternating background colors).
 */
$list-zebrastripe: false !default;

/**
 * @var {color} $list-pressed-color
 * Background-color for pressed list rows.
 */
// $list-pressed-color: lighten($active-color, 50%) !default;

/**
 * @var {color} $list-active-color
 * Background-color for selected list rows.
 */
// $list-active-color: $active-color !default;

/**
 * @var {string} $list-active-gradient
 * Gradient style for selected list rows.
 */
// $list-active-gradient: $base-gradient !default;

/**
 * @var {color} $list-header-bg-color
 * Background-color for list header rows (in grouped lists).
 */
// $list-header-bg-color: lighten(saturate($base-color, 10%), 20%) !default;

/**
 * @var {string} $list-header-gradient
 * Gradient style for list header rows (in grouped lists).
 */
// $list-header-gradient: $base-gradient !default;

/**
 * @var {measurement} $list-disclosure-size
 * Default size (width/height) for disclosure icons.
 */
$list-disclosure-size: 26px;

/**
 * @var {measurement} $list-disclosure-round-size
 * Default size (width/height) for disclosure icons in a list with a `round` ui.
 */
$list-disclosure-round-size: 1.5em;

/**
 * @var {measurement} $list-round-padding
 * Default padding for lists with a `round` ui.
 */
$list-round-padding: 13px !default;

/**
 * @var {measurement} $list-rounded-radius
 * Default border-radius for items in rounded list
 */
$list-rounded-radius: .4em !default;
