@import 'sencha-touch/default/all';


//          THEME SETTINGS
// --------------------------------

	 






// --------------------------------
//      END OF THEME SETTINGS
@import '../../../app/style';
.x-toggle-on {
         @include background-gradient($active-color, 'recessed');
     }