/**
 * @class Ext.field.Select
 */

.x-panel.x-select-overlay {
	padding: 8px;
	background-color: #fff;

	> .x-panel-inner {
		overflow: hidden;
	}

	.x-list {
		background: transparent !important;
	}
}