<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.openhab.designer.ui.application"
            name="openHAB Designer">
         <property
               name="windowImages"
               value="icons/openhab_logo_16.png,icons/openhab_logo_32.png,icons/openhab_logo_128.png">
         </property>
         <property
               name="appName"
               value="openHAB Designer">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/openhab400.png">
         </property>
         <property
               name="aboutText"
               value="Icons are under the Creative Commons License and come from the following web sites: &#x0A;http://p.yusukekamiyamane.com, http://www.icons-land.com">
         </property>
         <property
               name="startupForegroundColor"
               value="7F7F7F">
         </property>
         <property
               name="startupMessageRect"
               value="5,398,570,15">
         </property>
         <property
               name="startupProgressRect"
               value="0,414,580,12">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.openhab.designer.core.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
