/**
 * @class Ext.form.FieldSet
 */

.x-form-fieldset {
    margin: .5em .5em 1.5em;

    .x-form-fieldset-inner {
        background: #fff;
        padding: 0;
        border-color: #b9b9b9;
        @include border-radius($form-fieldset-radius);
    }

    //Ext.field.Field
    .x-field {
        border-bottom: 1px solid #b9b9b9;
        background: transparent;

        &:first-child {
            @include border-top-radius($form-fieldset-radius);
        }

        &:last-child {
            border-bottom: 0;

            @include border-bottom-radius($form-fieldset-radius);
        }
    }
}

.x-form-fieldset-title {
    @include label();
    margin: .5em;
    color: #586176;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
}

.x-form-fieldset-instructions {
    @include label();
    color: #586176;
    margin: 1em;
    font-size: .8em;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.x-label-align-left {
    &:first-child {
        .x-form-label {
            @include border-top-left-radius($form-fieldset-radius);
        }
    }

    &:last-child {
        .x-form-label {
            @include border-bottom-left-radius($form-fieldset-radius);
        }
    }
}

.x-label-align-right {
    &:first-child {
        .x-form-label {
          @include border-top-right-radius($form-fieldset-radius);
        }
    }

    &:last-child {
        border-bottom: 0;

        .x-form-label {
            @include border-bottom-right-radius($form-fieldset-radius);
        }
    }
}

.x-label-align-top {
    &:first-child {
        .x-form-label {
            @include border-top-radius($form-fieldset-radius);
        }
    }
}

.x-label-align-bottom {
    &:last-child {
        .x-form-label {
            @include border-bottom-radius($form-fieldset-radius);
        }
    }
}