.x-sheet-action {
	padding: 15px;
	border-top: 1px solid #ccc;
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,.3));
	background-color: #fff;

	.x-button {
		margin-bottom: 7px;
		@include border-radius(6px);

		&:last-child {
			margin-bottom: 0;
		}
	}
}