.x-menu {
	padding: 15px;
	border: 1px solid #323436;
	border-width: 0;
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,.3));
	@include background-image(linear-gradient(top, rgba(156,162,170, .9) 0%, rgba(80,87,97, .9) 80%, rgba(80,87,97, .9) 100%));

	.x-button {
		margin-bottom: 7px;
		border-color: rgba(41,44,51,.7);
		border-width: 2px;
		@include border-radius(6px);
		@include box-shadow(0 1px 0 rgba(255,255,255,.2));

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.x-left,
	&.x-right {
		width: 220px;
	}

	&.x-left {
		border-right-width: 1px;
	}

	&.x-right {
		border-left-width: 1px;
	}

	&.x-top {
		border-bottom-width: 1px;
	}

	&.x-bottom {
		border-top-width: 1px;
	}
}