<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.openhab.designer.ui.internal.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.openhab.designer.ui.internal.perspectives.Perspective"
            fixed="false"
            id="org.openhab.designer.ui.perspective"
            name="openHAB Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               ratio="0.3"
               id="org.openhab.designer.ui.ItemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.openhab.designer.ui.ItemView"
               relationship="top"
               ratio="0.4"
               id="org.openhab.designer.ui.ConfigView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="right"
               ratio="0.7"
               id="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="openHAB Views"
            id="org.openhab.designer.ui">
      </category>
      <view
            name="Item View"
            category="org.openhab.designer.ui"
            class="org.openhab.designer.ui.internal.views.ItemView"
            id="org.openhab.designer.ui.ItemView">
      </view>
      <view
            name="Configuration View"
            category="org.openhab.designer.ui"
            class="org.openhab.designer.ui.internal.views.ConfigView"
            id="org.openhab.designer.ui.ConfigView">
      </view>
   </extension>

</plugin>
