<?xml version="1.0" encoding="UTF-8"?>
<!--

    openHAB, the open Home Automation Bus.
    Copyright (C) 2011, openHAB.org <admin@openhab.org>

    See the contributors.txt file in the distribution for a
    full listing of individual contributors.

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as
    published by the Free Software Foundation; either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, see <http://www.gnu.org/licenses>.

    Additional permission under GNU GPL version 3 section 7

    If you modify this Program, or any covered work, by linking or
    combining it with Eclipse (or a modified version of that library),
    containing parts covered by the terms of the Eclipse Public License
    (EPL), the licensors of this Program grant you additional permission
    to convey the resulting work.

-->

<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.openhab.designer.ui.internal.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.openhab.designer.ui.internal.perspectives.Perspective"
            fixed="false"
            id="org.openhab.designer.ui.perspective"
            name="openHAB Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               ratio="0.3"
               id="org.openhab.designer.ui.ItemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.openhab.designer.ui.ItemView"
               relationship="top"
               ratio="0.4"
               id="org.openhab.designer.ui.ConfigView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="right"
               ratio="0.7"
               id="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="openHAB Views"
            id="org.openhab.designer.ui">
      </category>
      <view
            category="org.openhab.designer.ui"
            class="org.openhab.designer.ui.internal.views.ItemView"
            icon="icons/items.png"
            id="org.openhab.designer.ui.ItemView"
            name="Items">
      </view>
      <view
            category="org.openhab.designer.ui"
            class="org.openhab.designer.ui.internal.views.ConfigView"
            icon="icons/configure.png"
            id="org.openhab.designer.ui.ConfigView"
            name="Configurations">
      </view>
   </extension>

</plugin>
