$dark-tabbar-background-color: $dark-secondary-text-color !default;
$dark-tab-border-color: $winset-gray-blue !default;
$dark-tab-pressing-color: $winset-baby-blue !default;
$dark-tab-active-bottom-border-color: $winset-baby-blue !default;