target/
src-gen/
xtend-gen/
bin/
bundles/io/org.openhab.io.multimedia.tts.marytts/lib/
.antlr*
.metadata/
.DS_Store
*/plugin.xml_gen

distribution/openhabhome/logs/*.log
distribution/openhabhome/*.zip
distribution/openhabhome/etc/rrd4j/*.rrd
*.xml_gen
*.xml_gen
*.orig
*~

bundles/model/org.openhab.model.persistence/xtend-gen/org/openhab/model/persistence/generator/PersistenceGenerator.java

bundles/model/org.openhab.model.persistence/xtend-gen/org/openhab/model/persistence/generator/PersistenceGenerator.java

bundles/model/org.openhab.model.rule/xtend-gen/org/openhab/model/rule/jvmmodel/RulesJvmModelInferrer.java

bundles/model/org.openhab.model.script/xtend-gen/org/openhab/model/script/jvmmodel/ScriptJvmModelInferrer.java
