.x-form-fieldset {
	border-color: $dark-fieldset-border-color;

	.x-form-fieldset-title {
		color: $dark-fieldset-title-color;
	}

	.x-form-fieldset-instructions {
		color: $dark-fieldset-instructions-color;
	}
}
