$light-background-color: $light-primary-background-color !default;

$light-anchor-color: $light-primary-text-color !default;
$light-anchor-visited-color: $light-secondary-text-color !default;
$light-anchor-focus-color: $light-primary-text-color !default;
$light-anchor-hover-color: $light-primary-text-color !default;
$light-anchor-active-color: $winset-baby-blue !default;