$light-menu-background-color: $light-color-light-sandstone !default;
$light-menu-button-icon-color: $light-primary-text-color !default;
$light-menu-button-label-color: $light-primary-text-color !default;
$light-menu-button-bottom-border-color: $light-color-gray !default;
$light-menu-button-pressing-background-color: $light-secondary-pressing-background-color !default;