$light-msgbox-background-color: $light-secondary-background-color !default;
$light-msgbox-toolbar-background-color: $light-secondary-text-color !default;
$light-msgbox-border-color: $light-color-dark-sandstone !default;
$light-msgbox-icon-color: $light-primary-text-color !default;
$light-msgbox-text-color: $light-primary-text-color !default;