$light-panel-floating-background-color: $winset-navy-blue !default;
$light-panel-floating-border-color: $light-secondary-text-color !default;
$light-panel-anchor-background-color: $light-panel-floating-border-color !default;