$light-tabbar-background-color: $light-secondary-text-color !default;
$light-tab-border-color: $light-color-gray !default;
$light-tab-pressing-color: $light-color-blue !default;
$light-tab-active-bottom-border-color: $light-color-blue !default;