####################################################################################### 
#####                        General configurations                               #####
####################################################################################### 

#################### Main items/sitemap configuration parser ##########################
# Configuration folders (must exist as a subdirectory of "configurations"; the value
# tells the number of seconds for the next scan of the directory for changes. A
# value of -1 deactivates the scan).
# A comma separated list can follow after the refresh value. This list defines a filter
# for valid file extensions for the models.
folder:items=30,items
folder:sitemaps=30,sitemap

####################### Misterhouse configuration parser ##############################
# location of the misterhouse config file
# mh:mhtFile=configurations/items/eib_items.mht

####################################################################################### 
#####                        Binding configurations                               #####
####################################################################################### 

################################ KNX Binding ##########################################
# KNX gateway IP address 
#knx:ip=192.168.0.2

# Pause in milliseconds between two read requests on the KNX bus during initialization
knx:pause=50

############################# Bluetooth Binding #######################################
# Bluetooth refresh rate in seconds 
# (defines, how often a new device detection scan is performed)
bluetooth:refresh=30

####################################################################################### 
#####                   I/O component configurations                              #####
####################################################################################### 

############################ Mail configuration #######################################
# The SMTP server hostname, e.g. "smtp.gmail.com"
mail:hostname=smtp.gmail.com

# the SMTP port to use (optional, defaults to 25 (resp. 587 for TLS))
#mail:port=

# the username and password if the SMTP server requires authentication
#mail:username=user@mydomain.com
#mail:password=mypassword

# The email address to use for sending mails
#mail:from=user@mydomain.com

# set to "true", if TLS should be used for the connection (optional, defaults to false)
#mail:tls=true

############################ XMPP configuration #####################################

# The XMPP server to use, e.g. "jabber.org"
xmpp:servername=jabber.org

# the server port to use (optional, defaults to 5222)
#xmpp:port=

# the username and password for the sending XMPP account
#xmpp:username=myuser@jabber.org
#xmpp:password=mypassword

# a comma separated list of users that are allowed to use the XMPP console
#xmpp:consoleusers=remoteuser@jabber.org
