<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.openhab.org/model/Sitemap" 
       class = "org.openhab.model.sitemap.SitemapPackage"
       genModel = "org/openhab/model/Sitemap.genmodel" /> 
	
  </extension>

</plugin>
