<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.openhab.binding.tinkerforge.internal.model"
            class="org.openhab.binding.tinkerforge.internal.model.ModelPackage"
            genModel="model/tinkerforge.xcore"/>
   </extension>

</plugin>
