.x-slider-multiple, .x-item-disabled {
	.x-thumb:before {
		background: transparent;
		background-image: none;
		@include box-shadow(none);
	}
}

.x-thumb {
	background: transparent none;

	&:after {
		@include background($dark-slider-thumb-background);
	}

	&:before {
		background-color: $dark-slider-track-fill-background-color;
	}
}


// Create the slider track
.x-slider:before {
	background-color: $dark-slider-track-background-color;
}
