/**
 * @class Ext.picker.Picker
 */

$picker-row-height: 2.5em !default;
$light-picker-background-color: $light-secondary-background-color !default;
$light-picker-border-color: $light-color-sandstone !default;
$light-picker-color: $light-primary-text-color !default;
$light-picker-selected-color: $light-secondary-pressing-background-color !default;
