/**
 * @class Ext.table.Table
 * @ignore
 */

.x-table-inner {
    display: table !important;
    width: 100% !important;
    height: 100% !important;

    &.x-fixed-layout {
        table-layout: fixed !important;
    }
}

.x-table-row {
    display: table-row !important;
}

.x-table-cell {
    display: table-cell !important;
    vertical-align: middle;
}