<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="openhab-runtime">
<locations>
<location path="${workspace_loc}/../../openhab/openhab-runtime/targetplatform/bundles" type="Directory"/>
</locations>
</target>
