/**
 * @class Ext.dataview.List
 */

.x-list {
	background: #fff;
}

.x-list-item {
	border-bottom: 1px solid #F7F3F7;
	color: #292429;
	font-size: 20px;
	padding: 0 10px;
	line-height: 38px;
}

.x-list .x-list-disclosure {
	margin-top: 13px;
	border: 0;
	background: transparent;

	&:before {
		content: '>';
		color: #444;
		font-weight: bold;
		line-height: 19px;
		font-size: 22px;
		text-align: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.x-list .x-list-item.x-item-pressed.x-list-item-tpl,
.x-list .x-list-item.x-item-pressed .x-dock-horizontal {
	background-color: transparent;
	@include box-shadow(inset 0 0 0 2px $base-color);
}

.x-list .x-list-item.x-item-selected .x-dock-horizontal,
.x-list .x-list-item.x-item-selected.x-list-item-tpl {
	background-color: $base-color;
	@include box-shadow(none);
}

.x-list .x-item-selected .x-list-disclosure {
	&:before {
		color: #000
	}
	background-color: transparent;
}

.x-list .x-list-header {
	font-weight: normal;
	font-size: 14px;
	padding: 2px 10px;
	border-top-color: #D1D1D1;
	border-bottom: 2px solid #0AA9DC;
	@include background(linear-gradient(color-stops(#FEFEFE, #DDDDDD)));
}

.x-indexbar {
	color: #888;
	padding: 3px 0;
	@include border-radius(0px);
	@include st-box();
	height: 100% !important;
	background: rgba(255, 255, 255, .75);

	& > div {
		@include st-box();
		@include st-box-flex(1);
		color: #060606;
		font-size: .75em
	}
}

$indexbar-indicator-width: 120px;
$indexbar-indicator-height: 50px;
$indexbar-indicator-background-color: #222;
$indexbar-indicator-font-color: #FFF;
$indexbar-indicator-font-size: 2em;
.x-indexbar-indicator {
	width: $indexbar-indicator-width;
	height: $indexbar-indicator-height;
	background-color: $indexbar-indicator-background-color;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

	.x-indexbar-indicator-inner {
		color: $indexbar-indicator-font-color;
		line-height: $indexbar-indicator-height;
		font-size: $indexbar-indicator-font-size;
		padding-left: $indexbar-indicator-width / 6;
	}

	&:after {
		content:'';
		background-image: theme_image('bb10', "icons/ic_overflow_tab.png");
		background-size: 50%;
		background-position: 50%;
		background-repeat: no-repeat;
		opacity: .5;
		width: $indexbar-indicator-width /3;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.x-indexbar-vertical {
	width: 30px;
	margin-right: 0px;
	@include st-box-align(center);
	@include st-box-direction(vertical);
	padding-top: .5em;
}

.x-indexbar-pressed {
	background: rgba(255, 255, 255, 1);
}

.x-list-item-odd {
	&.x-list-item-tpl,
	.x-dock-horizontal {
		background-color: darken(#fff, 5%);
		border-bottom: 1px solid darken(#fff, 5%);
	}
}