$light-slider-thumb-background: $light-color-dark-gray !default;
$light-slider-track-background-color: $light-color-sandstone !default;
$light-slider-track-fill-background-color: $light-color-bright-blue !default;