// Toggle Container
$light-toggle-background-color: $light-color-light-gray !default;
$light-toggle-border-color: $light-color-dark-gray !default;

// Toggle Thumb
$light-toggle-thumb-on-background: $winset-green !default;
$light-toggle-thumb-off-background: $light-color-dark-sandstone !default;
$light-toggle-thumb-color: $light-primary-text-color !default;