$dark-background-color: $winset-black !default;

$dark-anchor-color: $dark-primary-text-color !default;
$dark-anchor-visited-color: $dark-secondary-text-color !default;
$dark-anchor-focus-color: $dark-primary-text-color !default;
$dark-anchor-hover-color: $dark-primary-text-color !default;
$dark-anchor-active-color: $winset-baby-blue !default;