$dark-menu-background-color: $winset-dark-gray !default;
$dark-menu-button-icon-color: $winset-white !default;
$dark-menu-button-label-color: $winset-white !default;
$dark-menu-button-bottom-border-color: $winset-gray-blue !default;
$dark-menu-button-pressing-background-color: $winset-navy-blue !default;