$dark-msgbox-background-color: $winset-navy-blue !default;
$dark-msgbox-toolbar-background-color: $dark-secondary-text-color !default;
$dark-msgbox-border-color: $dark-secondary-text-color !default;
$dark-msgbox-icon-color: $dark-primary-text-color !default;
$dark-msgbox-text-color: $dark-primary-text-color !default;