$dark-panel-floating-background-color: $winset-navy-blue !default;
$dark-panel-floating-border-color: $dark-secondary-text-color !default;
$dark-panel-anchor-background-color: $dark-panel-floating-border-color !default;