# Host and port of the default OpenWeb bticino IF
# OpenWeb gateway IP address / Hostname
#default.host=

# OpenWeb gateway Port (optional, defaults to 20000)
#default.port=

# OpenWeb bus status rescan interval (optional, defaults to 120 seconds)
#default.rescan_secs=
