############################# Intertechno Binding ###################################
# Devicename to use (mandatory)
# Example /dev/ttyACM0
#device=

# How often should the command be repeated? (optional)
# See http://culfw.de/commandref.html for details
#repetitions=6

# How long should one pulse be? (optional)
# See http://culfw.de/commandref.html for details
#wavelength=420