# The ip address of the lgtv (required)
#<lgtvId1>.host=

# The TCP port to use (optional, defaults to 8080)
#<lgtvId1>.port=

# The the pairkey / if it's wrong the device shows the right pairkey
# at every connection attempt
#<lgtvId1>.pairkey=

# The TCP port address of the openhab system to receive lgtv status messages
# (only first occurrence is used for all TVs)
#<lgtvId1>.serverport=

# The location to put XML files with the information of availiable
# channels and apps (optional)
#<lgtvId1>.xmldatafiles=./

# The check alive interval (optional, defaults to 60secs)
#<lgtvId1>.checkalive=
