# Refresh interval in milliseconds (optional, defaults to 60000ms)
#refresh=60000

# Set the heatmiser network address
#hostname=

# Set the port number for the Heatmiser interface (optional, defaults to 4242)
#port=4242
