# IP address of the Novelan (Siemens) Heatpump to connect to (required)
#ip=

# port number of the Novelan (Siemens) Heatpump to connect to (optional, defaults to 8888)
#port=

# refresh interval in milliseconds (optional, defaults to 60000)
#refresh=
