# IP address or hostname of the Plex server
#host=192.168.1.15

# Optional, port that the Plex server is running on. Default = 32400
#port=32400

# Refresh interval in ms. Default = 5000.
#refresh=5000

# If you're using Plex Home you need to supply the username and password of your
# Plex account here. If you don't want to enter your credentials you can also
# directly set your account token below instead.
#username=Plex username

 # Plex password
#password=Plex password

# Plex account token, use instead of username/password when using Plex Home.
#token=abcdefghijklmnopqrst
