# The apikey for the different weather providers, at least one must be specified
# Note: Hamweather requires two apikeys: client_id=apikey, client_secret=apikey2
#apikey.ForecastIo=
#apikey.OpenWeatherMap=
#apikey.WorldWeatherOnline=
#apikey.Wunderground=
#apikey.Hamweather=
#apikey2.Hamweather=

# location configuration, you can specify multiple locations
#location.<locationId1>.latitude=
#location.<locationId1>.longitude=
#location.<locationId1>.provider=
#location.<locationId1>.language=
#location.<locationId1>.updateInterval=

#location.<locationId2>.latitude=
#location.<locationId2>.longitude=
#location.<locationId2>.provider=
#location.<locationId2>.language=
#location.<locationId2>.updateInterval=
