# Hostname / IP address of your XBMC host (required). Example:
#livingRoom.host=192.168.1.6

# Port number for the json rpc service (optional, defaults to 8080). Example:
#livingRoom.rsPort=8080

# Port number for the web socket service (optional, defaults to 9090). Example:
#livingRoom.wsPort=9090

# Username to connect to XBMC. (optional, defaults to xbmc). Example:
#livingRoom.username=xbmc

# Password to connect to XBMC. (optional, defaults to xbmc). Example:
#livingRoom.password=xbmc

#Refresh interval in ms (optional, defaults to 60000ms [1 minute])
#refreshInterval=60000

