.x-toolbar .x-segmentedbutton, .x-segmentedbutton {
	.x-button {
		margin: 0 !important;
		border-right: 0;
		@include border-radius(0);
		padding-left: 10px;
		padding-right: 10px;
	}

	.x-first {
		@include border-left-radius(6px);
	}

	.x-last {
		@include border-right-radius(6px);
	}
}