/**
 * @class Ext.dataview.List
 */

/**
 * @var {measurement} $list-disclosure-size
 * Default size (width/height) for disclosure icons.
 */
$list-disclosure-size: 26px;

$list-header-color: #f7f7f7;
$list-item-pressed-color: #d9d9d9;
$list-item-selected-color: #e6e6e6;
$list-item-border-color: #dbdbe0;
