/**
 * @class Ext.form.Panel
 */

.x-form {
    .x-scroll-container {
        background-color: $form-bg-color;
    }

    .x-toolbar .x-scroll-container {
        background-color: transparent;
    }
}

// Label
@mixin label {
    text-shadow: #fff 0 1px 1px;
    color: $form-dark;
}

.x-form-label {
    @include label();
    @include bevel-text('light');
    padding: $form-spacing;
    background-color: $form-field-label-bg-color;
    color: $form-field-label-color;

    span {
        font-size: .8em;
    }
}
