// position: relative;
//         overflow: visible;
//         border: 2px solid #fff;
//         @include border-radius($list-disclosure-size);
//         @include background-image(linear-gradient(top, #749de5, #376bd9));
//         @include box-shadow(0 1px 4px rgba(0,0,0,.3));
//         width: $list-disclosure-size;
//         height: $list-disclosure-size;
//         margin: 7px 7px 0 0;

//         &:before {
//             @include absolute-position(0, 0, 0, 0);
//             content: '>';
//             // font-family: 'Pictos';
//             color: #fff;
//             font-size: 22px;
//             text-align: center;
//             line-height: 20px;
//             text-shadow: 0 -1px 0 rgab(0,0,0,.5);
//         }

.x-spinner {
    .x-spinner-button {
        margin-top: .25em;
        margin-bottom: .25em;
        width: 2em;
        
        border: 2px solid #fff !important;
        @include border-radius($list-disclosure-size);
        @include background-image(linear-gradient(top, #749de5, #376bd9));
        @include box-shadow(0 1px 4px rgba(0,0,0,.3));
        width: $list-disclosure-size;
        height: $list-disclosure-size;
        margin: 7px 7px 0 0;
        color: #fff;
        font-weight: bold;
        font-size: 27px;
        line-height: 16px;
    }
}