body,
html {
    font-family: "Slate Pro",Slate,"Myriad Pro",Helvetica;
	font-size: 12pt;
}

input,
textarea {
    font-family: "Slate W01 Light", "Slate Light", Helvetica, Arial, sans-serif;
}

.x-layout-card-item {
	background: #fff;
}
