/**
 * @class Ext.picker.Picker
 */

$picker-row-height: 2.5em !default;
$dark-picker-background-color: $winset-black !default;
$dark-picker-border-color: $winset-dark-gray !default;
$dark-picker-color: $dark-primary-text-color !default;
$dark-picker-selected-color: $winset-baby-blue !default;
