// Toggle Container
$dark-toggle-background-color: $dark-color-gray !default;
$dark-toggle-border-color: $dark-color-gray !default;

// Toggle Thumb
$dark-toggle-thumb-on-background: $dark-gradient-down-green !default;
$dark-toggle-thumb-off-background: $dark-gradient-down-gray !default;
$dark-toggle-thumb-color: $dark-primary-text-color !default;