.oph_icon {
	margin:auto 6px auto 0px;
	width:32px;
	height:32px;
	display: table-cell;
	vertical-align: middle;
	float:left;
}
.oph_title {
	color:#FFF;
}
.oph_group_btn, #leftPanel div.x-list-item span {
	background-image:url(./images/arrow.png);
	background-repeat:no-repeat;
	background-position:right;
	display:block;
}

#leftPanel div.x-list-item span.x-list-item-leaf {
	background-image:none;
}

.oph_rollershutter_btn, .oph_selection_btn{
	margin:0.5em 0 0 0.5em;
	float:left; 
	height:2.2em;
}

.oph_selection_btn {
	font-size:0.83em;
	height:2.8em;
}

.oph_phone_fieldset .oph_rollershutter_btn, 
.oph_phone_fieldset .oph_selection_btn {
	margin:0.36em 0 0 0.2em;
}

.x-field-input {
height:2.2em;
}

.oph_widgets_container .x-panel-inner {

}



.oph_widgets_container .oph_fieldset {
	width:100%;
}

.oph_widgets_container .oph_fieldset .x-docking-vertical
{
	margin:0px 6px;
}


.oph_widgets_container .oph_desktop_fieldset .x-docking-vertical, .oph_widgets_container .oph_tablet_fieldset .x-docking-vertical {
    margin:0px 14px;
}


.x-landscape .oph_widgets_container .oph_desktop_fieldset, .x-landscape .oph_widgets_container .oph_tablet_fieldset {
	hhfloat:left;
	width:50%;
}


.oph_desktop_fieldset_left, .oph_tablet_fieldset_left {
    float: left;
	clear: left;
}

.oph_desktop_fieldset_right, .oph_tablet_fieldset_right {
	float: right;
	clear: right;
}

.oph_clearfix::after {
clear: both;
content: ".";
display: block;
font-size: 0;
height: 0;
line-height: 0;
visibility: hidden;
}




.oph_phone_modal {
	width:100%;
    height:100%;	
}

.oph_desktop_modal, .oph_tablet_modal {
	width:50%;
    height:22em;	
}

.x-img {
width:100%;
background-size: contain;
}
.oph_widgets_container .x-textfield .x-component-outer .x-innerhtml {
	white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
padding: 0.5em;
display: block;
-webkit-appearance: none;
}


.oph_widgets_container .x-toggle-field .x-component-outer .x-container, 
.oph_widgets_container .x-rollershutter-field .x-component-outer .x-container, 
.oph_widgets_container .x-textfield .x-component-outer .x-innerhtml, 
.oph_widgets_container .x-buttons-field .x-component-outer .x-container {
-webkit-user-select: none;
-webkit-touch-callout: none;
-webkit-user-drag: none;
white-space:pre-line;
float:right;

}
.oph_fieldset .x-component-outer {
	padding:0px;
}

.oph_tablet_fieldset .x-field .x-component-outer, .oph_desktop_fieldset .x-field .x-component-outer {
    margin:0.5em;
}

.oph_phone_fieldset .x-field .x-component-outer {
	margin:0.36em;
}

.oph_phone_fieldset .x-buttons-field .x-component-outer, 
.oph_phone_fieldset .x-rollershutter-field .x-component-outer {
    margin:0 0.5em 0.36em 0;
}

.oph_tablet_fieldset .x-buttons-field .x-component-outer, 
.oph_tablet_fieldset .x-rollershutter-field .x-component-outer,
.oph_desktop_fieldset .x-buttons-field .x-component-outer, 
.oph_desktop_fieldset .x-rollershutter-field .x-component-outer
 {
    margin:0 0.5em 0.5em 0;
}


.x-toggle-on {
background-color: #56b8f9;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #052d5c), color-stop(30%, #084792), color-stop(55%, #084792), color-stop(100%, #0d5ab4));

background-image: -webkit-linear-gradient(#052d5c,#084792 30%,#084792 55%,#0d5ab4);


background-image: linear-gradient(#052d5c,#084792 30%,#084792 55%,#0d5ab4);
}

.oph_widgets_container .x-field span {
	display:table;
}

.oph_label {
display: table-cell;
vertical-align: middle;
white-space:pre-line;
}

#leftPanel .x-list-item-label {
	margin: 0.2em 0;

}

.oph_button {
	text-shadow: white 0 1px 1px;
color: #333;
text-shadow: rgba(255, 255, 255, 0.25) 0 0.08em 0;
padding: 0.6em;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}