<!-- openHAB, the open Home Automation Bus. Copyright (C) 2011, openHAB.org 
	<admin@openhab.org> See the contributors.txt file in the distribution for 
	a full listing of individual contributors. This program is free software; 
	you can redistribute it and/or modify it under the terms of the GNU General 
	Public License as published by the Free Software Foundation; either version 
	3 of the License, or (at your option) any later version. This program is 
	distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
	without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR 
	PURPOSE. See the GNU General Public License for more details. You should 
	have received a copy of the GNU General Public License along with this program; 
	if not, see <http://www.gnu.org/licenses>. Additional permission under GNU 
	GPL version 3 section 7 If you modify this Program, or any covered work, 
	by linking or combining it with Eclipse (or a modified version of that library), 
	containing parts covered by the terms of the Eclipse Public License (EPL), 
	the licensors of this Program grant you additional permission to convey the 
	resulting work. -->

<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{30}[:%line] - %msg%n%ex{0}</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/openhab.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{30}[:%line]- %msg%n%ex{5}</pattern>
		</encoder>
	</appender>

	<appender name="EVENTFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/events.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- weekly rollover and archiving -->
			<fileNamePattern>logs/events-%d{yyyy-ww}.log.zip</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="runtime.busevents" level="INFO" additivity="false">
		<appender-ref ref="EVENTFILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.openhab" level="INFO"/>

	<!-- this class gives an irrelevant warning at startup -->
	<logger name="org.atmosphere.cpr.AtmosphereFramework" level="ERROR" />

	<!-- temporary workaround for https://bugs.eclipse.org/bugs/show_bug.cgi?id=402750 -->
	<logger name="OSGi" level="OFF" />

	<root level="WARN">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
