# This is the default configuration file, which comes with every openHAB distribution.
# You should do a copy of it with the name 'openhab.cfg' and configure your personal
# settings in there. This way you can be sure that they are not overwritten, if you
# update openHAB one day.


####################################################################################### 
#####                        General configurations                               #####
####################################################################################### 

# Configuration folders (must exist as a subdirectory of "configurations"; the value
# tells the number of seconds for the next scan of the directory for changes. A
# value of -1 deactivates the scan).
# A comma separated list can follow after the refresh value. This list defines a filter
# for valid file extensions for the models.
folder:items=10,items
folder:sitemaps=10,sitemap
folder:rules=10,rules
folder:scripts=10,script
folder:persistence=10,persist

# configures the security options. The following values are valid:
# ON = security is switched on generally
# OFF = security is switched off generally
# EXTERNAL = security is switched on for external requests 
#            (e.g. originating from the Internet) only
# (optional, defaults to 'OFF')
#security:option=

# the Netmask to define a range of internal IP-Addresses which doesn't require
# authorization (optional, defaults to '192.168.1.0/24')
#security:netmask=

# The name of the default persistence service to use
persistence:default=db4o

####################################################################################### 
#####                        Binding configurations                               #####
####################################################################################### 

################################ KNX Binding ##########################################
# KNX gateway IP address (optional, if serialPort or connection type 'ROUTER' is specified)
#knx:ip=

# KNX IP connection type. Could be either TUNNEL or ROUTER (optional, defaults to TUNNEL)
#knx:type=

# KNX gateway port (optional, defaults to 3671)
#knx:port=

# Local endpoint to specify the multicast interface, no port is used (optional)
#knx:localIp=

# Serial port of FT1.2 KNX interface (ignored, if ip is specified)
# Valid values are e.g. COM1 for Windows and /dev/ttyS0 or /dev/ttyUSB0 for Linux
#knx:serialPort=

# Pause in milliseconds between two read requests on the KNX bus during
# initialization (optional, defaults to 50)
#knx:pause=

# Timeout in milliseconds to wait for a response from the KNX bus (optional, 
# defaults to 10000)
#knx:timeout

# Number of read retries while initialization items from the KNX bus (optional,
# defaults to 3)
#knx:readRetries

############################# Bluetooth Binding #######################################
# Bluetooth refresh rate in seconds 
# (defines, how often a new device detection scan is performed)
#bluetooth:refresh=20

############################## OneWire Binding ########################################
# OwServer IP address 
#onewire:ip=

# OwServer Port (optional, defaults to 4304)
#onewire:port=

# refresh inverval in milliseconds (optional, defaults to 60000)
#onewire:refresh=

########################### NetworkHealth Binding #####################################

# Default timeout in milliseconds if none is specified in binding configuration
# (optional, default to 5000)
#networkhealth:timeout=

# refresh inverval in milliseconds (optional, default to 60000)
#networkhealth:refresh=

############################### HTTP Binding ##########################################

# timeout in milliseconds for the http requests (optional, defaults to 5000)
#http:timeout=

# the interval in milliseconds when to find new refresh candidates
# (optional, defaults to 1000)
#http:granularity=

############################# Fritz!Box Binding #######################################

# Please note: To be able to connect to the monitor port, the "CallMonitor" must be
# activated by dialing "#96*5*" once on a telephone that is connected to the Fritz!Box.

# IP address of Fritz!Box to connect to
#fritzbox:ip=

############################### Asterisk Binding ######################################

# Please note: The Asterisk Management Interface (AMI) has to be activated in the
# manager.conf file of your Asterisk PBX.

# hostname of the AMI
#asterisk:host=

# the username and password to login to the AMI
#asterisk:username=
#asterisk:password=


################################ NTP Binding #########################################

# refresh interval in milliseconds (optional, defaults to 900000 [15 minutes])
#ntp:refresh=

# the hostname of the timeserver
ntp:hostname=ptbtime1.ptb.de

################################ MPD Binding #########################################

# Host and port of the first MPD to control 
# mpd:<player-id-1>.host=
# mpd:<player-id-1>.port=

# Host and port of the second MPD to control 
# mpd:<player-id-2>.host=
# mpd:<player-id-2>.port=

################################ VDR Binding #########################################

# Host and port of the first VDR to control 
# vdr:<vdr-id-1>.host=
# vdr:<vdr-id-1>.port=6419

# Host and port of the second VDR to control 
# vdr:<vdr-id-2>.host=
# vdr:<vdr-id-2>.port=6419

################################ SNMP Binding ########################################

# Listening Port (optional, defaults to '162')
#snmp:port=

# The SNMP community to listen to (optional, defaults to 'public')
#snmp:community=


####################################################################################### 
#####                   I/O component configurations                              #####
####################################################################################### 

############################ Mail configuration #######################################
# The SMTP server hostname, e.g. "smtp.gmail.com"
#mail:hostname=

# the SMTP port to use (optional, defaults to 25 (resp. 587 for TLS))
#mail:port=

# the username and password if the SMTP server requires authentication
#mail:username=
#mail:password=

# The email address to use for sending mails
#mail:from=

# set to "true", if TLS should be used for the connection
# (optional, defaults to false)
#mail:tls=

# set to "true", if POP before SMTP (another authentication mechanism)
# should be enabled. Username and Password are taken from the above
# configuration (optional, default to false)
#mail:popbeforesmtp=

############################# XMPP configuration ######################################

# The XMPP server to use, e.g. "jabber.org"
#xmpp:servername=

# the server port to use (optional, defaults to 5222)
#xmpp:port=

# the username and password for the sending XMPP account
#xmpp:username=
#xmpp:password=

# a comma separated list of users that are allowed to use the XMPP console
#xmpp:consoleusers=

############################# Prowl configuration #####################################

# the apikey for authentication (generated on the Prowl website)
#prowl:apikey=

# the default priority of a Prowl notifications (optional, defaults to '0')
#prowl:defaultpriority=

# the url of the Prowl public api
# (optional, defaults to 'https://prowl.weks.net/publicapi/') 
#prowl:url=

########################## Google Calendar configuration ##############################

# the username and password for Google Calendar Account
#gcal:username=
#gcal:password=

# the url of the calendar feed
#gcal:url=

# refresh interval in milliseconds (optional, defaults to 900000 [15 minutes])
#gcal:refresh=

# the offset (in days) new calendar entries will be created in future (optional,
# defaults to 14)
#gcal:offset=

####################################################################################### 
#####                      Add-ons configurations                                 #####
####################################################################################### 

################################## Drools #############################################
# refresh interval for rule evaluation (in ms) (optional, defaults to 200)
#drools:evalInterval=

######################## Open.Sen.se Persistence Service ##############################

# the url of the Open.Sen.se public api (optional, defaults to 
# 'http://api.sen.se/events/?sense_key=') 
#sense:url=

# the Open.Sen.se API-Key for authentication (generated on the Open.Sen.se website)
#sense:apikey=

######################### Logging Persistence Service #################################

# the logback encoder pattern to use to write log entries
# see http://logback.qos.ch/manual/layouts.html#ClassicPatternLayout for all options
# the item name is available as the "logger" name, the state as the "msg"
logging:pattern=%date{ISO8601} - %-25logger: %msg%n