.x-field-radio .x-field-mask {
	&:after {
		background-color: $light-radio-color;
		border: 4px solid $light-radio-border-inner-color;
	}

	&:before {
		@include background($light-radio-background);
		color: $light-radio-color;
		border: 1px solid $light-radio-border-outer-color;
	}
}

.x-input-radio:checked ~ .x-field-mask:after {
	background-color: $light-radio-checked-color;
}