@import 'sencha-touch/default/all';


//          THEME SETTINGS
// --------------------------------

	 
$base-color: #9e0c01;
$toolbar-base-color: $base-color;
$active-color: $base-color;
$list-active-color : $active-color;





// --------------------------------
//      END OF THEME SETTINGS
@import '../../../app/style';
.x-toggle-on {
         @include background-gradient($active-color, 'recessed');
     }