/**
 * @var {boolean} $include-default-icons
 * Optionally remove the default icon set which includes the following toolbar and tab bar icons: action,
 * add, arrow_down, arrow_left, arrow_right, arrow_up, bookmarks, compose, delete, download, favorites,
 * home, info, locate, maps, more, organize, refresh, reply, search, settings, star, team, time, trash,
 * and user. Set to false to reduce CSS weight.
 */
$include-default-icons: true !default;