<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="STDOUT"
			class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
		</encoder>
	</appender>

	<!--Basic file appender<appender name="FILE"
		class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
		</encoder>
		<File>sample-log.txt</File>
	</appender>-->

        <!--Daily rolling file appender -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/logFile.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logFile.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>

		<encoder>
			<Pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</encoder>
	</appender>
	
	
	<!--logger name="org.eclipse.example">
		<level value="debug" />
	</logger-->
	
	<root>
		<level value="error" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
