$light-radio-color: $light-color-dark-sandstone !default;
$light-radio-checked-color: $winset-green !default;
$light-radio-background: $light-color-light-gray !default;
$light-radio-border-outer-color: $light-primary-background-color !default;
$light-radio-border-inner-color: $light-color-tan !default;