<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="openhab-runtime">
<locations>
<location path="${workspace_loc}/../../openhab/openhab-runtime/targetplatform/target/dependency" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.apache.commons.codec.source" version="1.3.0.v20080530-1600"/>
<unit id="org.apache.commons.logging" version="1.1.1.v200904062255"/>
<unit id="org.apache.commons.cli" version="1.0.0.v20080604-1500"/>
<unit id="org.apache.commons.pool.source" version="1.4.0.v20081016-1000"/>
<unit id="org.apache.commons.el.source" version="1.0.0.v201004212143"/>
<unit id="org.apache.commons.jxpath" version="1.3.0.v200911051830"/>
<unit id="org.apache.commons.collections.source" version="3.2.0.v200803061811"/>
<unit id="org.apache.commons.el" version="1.0.0.v201004212143"/>
<unit id="org.apache.commons.beanutils.source" version="1.7.0.v200803061811"/>
<unit id="org.apache.commons.fileupload" version="1.2.0.v20080604-1500"/>
<unit id="org.apache.commons.httpclient.source" version="3.1.0.v20080605-1935"/>
<unit id="org.apache.commons.io.source" version="1.4.0.v20081110-1000"/>
<unit id="org.apache.commons.jxpath.source" version="1.3.0.v200911051830"/>
<unit id="org.apache.commons.collections" version="3.2.0.v200803061811"/>
<unit id="org.apache.commons.cli.source" version="1.0.0.v20080604-1500"/>
<unit id="org.apache.commons.lang" version="2.4.0.v20081016-1030"/>
<unit id="org.apache.commons.pool" version="1.4.0.v20081016-1000"/>
<unit id="org.apache.commons.httpclient" version="3.1.0.v20080605-1935"/>
<unit id="org.apache.commons.logging.source" version="1.1.1.v200904062255"/>
<unit id="org.apache.commons.codec" version="1.3.0.v20080530-1600"/>
<unit id="org.apache.commons.beanutils" version="1.7.0.v200902170505"/>
<unit id="org.apache.commons.lang.source" version="2.4.0.v20081016-1030"/>
<unit id="org.apache.commons.io" version="1.4.0.v20081110-1000"/>
<unit id="org.apache.commons.net.source" version="2.0.0.v200905272248"/>
<unit id="org.apache.commons.net" version="2.0.0.v200905272248"/>
<unit id="org.apache.commons.fileupload.source" version="1.2.0.v20080604-1500"/>
<unit id="org.apache.commons.discovery" version="0.2.0.v201004190315"/>
<unit id="org.apache.solr.servlet.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.common.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.servlet" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.lucene.core.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj.embedded.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.lucene.snowball" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.lucene.queries" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.analysis" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.snowball.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.analysis.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.misc.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.highlighter" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.solr.common" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.lucene.memory" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.queries.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.spellchecker" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.misc" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.memory.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.spellchecker.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj.embedded" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.core.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.core" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.lucene.highlighter.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.core" version="2.9.1.v20100421-0704"/>
<unit id="javax.servlet.jsp.jstl.source" version="1.2.0.v201004190952"/>
<unit id="javax.persistence.source" version="1.0.0.v200905011740"/>
<unit id="javax.xml.ws" version="2.1.0.v200902101523"/>
<unit id="javax.servlet.jsp" version="2.1.0.v201004190952"/>
<unit id="javax.mail.glassfish.source" version="1.4.1.v200808130215"/>
<unit id="javax.persistence" version="1.0.0.v200905011740"/>
<unit id="javax.servlet" version="2.5.0.v200910301333"/>
<unit id="javax.management" version="1.2.0.v20100427-1100"/>
<unit id="javax.xml.rpc" version="1.1.0.v200905122109"/>
<unit id="javax.management.remote" version="1.0.0.v20100427-1100"/>
<unit id="javax.jws.source" version="2.0.0.v200905261939"/>
<unit id="javax.transaction" version="1.1.1.v201004190952"/>
<unit id="javax.jws" version="2.0.0.v200905261939"/>
<unit id="javax.servlet.jsp.source" version="2.1.0.v201004190952"/>
<unit id="javax.wsdl" version="1.6.2.v200806030405"/>
<unit id="javax.wsdl.source" version="1.6.2.v200806030405"/>
<unit id="javax.inject" version="1.0.0.v20091030"/>
<unit id="javax.el.source" version="2.1.0.v201004190952"/>
<unit id="javax.activation" version="1.1.0.v200906290531"/>
<unit id="javax.xml" version="1.3.4.v200902170245"/>
<unit id="javax.transaction.source" version="1.1.1.v201004190952"/>
<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
<unit id="javax.xml.bind.source" version="2.2.0.v201003241715"/>
<unit id="javax.mail.glassfish" version="1.4.1.v200808130215"/>
<unit id="javax.xml.soap" version="1.3.0.v200904281458"/>
<unit id="javax.xml.bind" version="2.2.0.v201003241715"/>
<unit id="javax.servlet.jsp.jstl" version="1.2.0.v201004190952"/>
<unit id="javax.wsdl15" version="1.5.1.v200806030409"/>
<unit id="javax.inject.source" version="1.0.0.v20091030"/>
<unit id="javax.servlet.source" version="2.5.0.v200910301333"/>
<unit id="javax.el" version="2.1.0.v201004190952"/>
<unit id="javax.mail" version="1.4.0.v200905040518"/>
<repository location="http://download.eclipse.org/tools/orbit/committers/drops/I20100428041519/updateSite/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.6.0.I20100428-0100"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.6-I-builds"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.jetty.feature.small.feature.group" version="7.0.2.201004031133"/>
<repository location="http://www.intalio.org/public/maven2/org/intalio/osgi/updatesite-7.0.2.v20100331-03/"/>
</location>
</locations>
</target>
