<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target includeMode="feature" name="openHAB">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location path="${resource_loc:targetplatform}/bundles" type="Directory"/>
<location path="C:\openhab\orbit" type="Directory"/>
</locations>
</target>
