<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="openhab-designer">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<repository location="http://download.itemis.com/updates/milestones/"/>
</location>
<location path="${resource_loc:targetplatform}/bundles" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<repository location="http://download.eclipse.org/eclipse/updates/3.6milestones"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<repository location="http://download.eclipse.org/tools/orbit/committers/drops/S20100519050118/updateSite/"/>
</location>
</locations>
</target>
