<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="openHAB" sequenceNumber="40">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.2.2.M20130204-1200"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.2.2.v20130129-152330-7IARAABrMQkGSvMgQnUlz-DQz00h"/>
<unit id="org.eclipse.rcp.feature.group" version="4.2.2.v20130129-152330-7IARAABrMQkGSvMgQnUlz-DQz00h"/>
<unit id="org.eclipse.sdk.ide" version="4.2.2.M20130204-1200"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.2"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.ibm.icu.base" version="50.1.1.v201304230130"/>
<unit id="com.ibm.icu.base.source" version="50.1.1.v201304230130"/>
<unit id="javax.persistence" version="1.0.0.v200905011740"/>
<unit id="javax.persistence.source" version="1.0.0.v200905011740"/>
<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="javax.annotation" version="1.1.0.v201209060031"/>
<unit id="javax.transaction" version="1.1.1.v201105210645"/>
<unit id="javax.mail" version="1.4.0.v201005080615"/>
<unit id="javax.ws.rs" version="1.1.1.v20130318-1750"/>
<unit id="javax.ws.rs.source" version="1.1.1.v20130318-1750"/>
<unit id="javax.servlet" version="3.0.0.v201112011016"/>
<unit id="javax.servlet.source" version="3.0.0.v201112011016"/>
<unit id="javax.activation" version="1.1.0.v201211130549"/>
<unit id="javax.activation.source" version="1.1.0.v201211130549"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
<unit id="org.apache.commons.exec" version="1.1.0.v201301240602"/>
<unit id="org.apache.commons.exec.source" version="1.1.0.v201301240602"/>
<unit id="org.apache.commons.codec" version="1.4.0.v201209201156"/>
<unit id="org.apache.commons.codec.source" version="1.4.0.v201209201156"/>
<unit id="org.apache.commons.collections.source" version="3.2.0.v2013030210310"/>
<unit id="org.apache.commons.collections" version="3.2.0.v2013030210310"/>
<unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
<unit id="org.apache.commons.httpclient.source" version="3.1.0.v201012070820"/>
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="org.apache.commons.io.source" version="2.0.1.v201105210651"/>
<unit id="org.apache.commons.net" version="3.2.0.v201305141515"/>
<unit id="org.apache.commons.net.source" version="3.2.0.v201305141515"/>
<unit id="org.apache.commons.lang.source" version="2.6.0.v201205030909"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201205030909"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.1.3.v201209201135"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.1.4.v201203221030"/>
<unit id="org.apache.httpcomponents.httpcore.nio" version="4.1.0.v201101201700"/>
<unit id="org.codehaus.jackson.core" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.core.source" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.jaxrs" version="1.6.0.v20101005-1100"/>
<unit id="org.codehaus.jackson.jaxrs.source" version="1.6.0.v20101005-1100"/>
<unit id="org.codehaus.jackson.xc" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.xc.source" version="1.6.0.v20101005-0925"/>
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.classic.source" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.core.source" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.slf4j" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.slf4j.source" version="1.0.7.v20121108-1250"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.ext" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.ext.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.jul" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.jul.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.jcl" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.jcl.source" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.log4j" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.log4j.source" version="1.7.2.v20130115-1340"/>
<unit id="org.apache.felix.gogo.runtime" version="0.10.0.v201209301036"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130517111416/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.3.v20130125-0826"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.8.0.v20121212-203907-7M7fA78g4_y-gDvtH0ZcFvhMPDZJ"/>
<unit id="org.eclipse.jetty.sdk.feature.group" version="8.1.3.201206060641"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.6.0.v20120328-0001-67T-96SGR75UNqZNTdeQnghI6uFA"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.0.201212170307"/>
<repository location="http://download.eclipse.org/releases/juno/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe.ui.feature.group" version="1.2.1.v201206110920"/>
<unit id="org.eclipse.emf.mwe.doc.feature.group" version="1.2.1.v201206110920"/>
<unit id="org.eclipse.emf.mwe.core.feature.group" version="1.2.1.v201206110920"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.2.1.v201206110920"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.3.0.v201206120758"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.3.0.v201206110920"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.3.1.v201208210947"/>
<unit id="org.eclipse.xtext.xbase.feature.group" version="2.3.0.v201206120633"/>
<unit id="org.eclipse.xtext.examples.feature.group" version="2.3.0.v201206120633"/>
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.3.0.v201206120633"/>
<unit id="org.eclipse.xtext.ui.feature.group" version="2.3.0.v201206120633"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.3.0.v201206120633"/>
<unit id="org.eclipse.xtext.docs.feature.group" version="2.3.0.v201206120633"/>
<unit id="org.eclipse.xtext.xtend2.sdk.feature.group" version="2.3.0.v201206120633"/>
<unit id="org.eclipse.xtend.ui.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xpand.incremental.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xpand.all.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xpand.ui.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xtend.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xpand.examples.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xpand.doc.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xpand.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xtend.typesystem.uml2.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xtend.typesystem.emf.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xtend.dependencies.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xtend.typesystem.xsd.feature.group" version="1.1.1.v201108020519"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/archive/"/>
</location></locations>
</target>
