$dark-form-label-color: $dark-primary-text-color !default;
$dark-form-clear-icon-color: $winset-light-blue !default;
$dark-form-clear-icon-pressing-color: $winset-bright-blue !default;
$dark-form-clear-icon-border-color: $winset-light-blue !default;