$dark-spinner-button-color: $dark-primary-text-color !default;
$dark-spinner-button-up-background: $dark-gradient-down-green !default;
$dark-spinner-button-up-pressed-background: $dark-gradient-up-green !default;
$dark-spinner-button-down-background: $dark-gradient-down-gray !default;
$dark-spinner-button-down-pressed-background: $dark-gradient-up-gray !default;