/**
 * Includes default toast styles.
 */

.x-toast {
    max-height: 90%;
    width: 100%;
    padding: 10px;
    border: 0;
    margin: 0;
    max-width: 100%;
    background: $background-color;

    .x-msgbox-text {
        color: #000;
        padding: 10px 0;
        text-align: left;
        line-height: 1.4em;
    }
}
