/**
 * @class Ext.field.Radio
 */

.x-field-radio .x-field-mask {
	&::before,
	&::after {
		@include border-radius(10px);
	}

    &::after {
        content: '';
        width: 10px;
        height: 10px;
	    right: 5px;
	    margin-top: -5px;
	    border: transparent;
    }
}

.x-field-radio .x-input-el:checked + .x-field-mask::after {
    background: $base-color;
    @include box-shadow(0 0 3px 2px rgba($base-color, .6));
}

.x-item-disabled {
    &.x-field-radio .x-input-el:checked + .x-field-mask::after {
        text-shadow: none;
        background: $foreground-color;
        @include box-shadow(none);
    }
}
