# Misterhouse config file location
mh:mhtFile=configurations/items/eib_items.mht

# KNX gateway IP address
knx:ip=

# Bluetooth refresh rate in seconds
# Defines, how often a new device detection scan is performed
bluetooth:refresh=60

# Configuration folders (must exist as a subdirectory of "configurations"; the value
# tells the number of seconds for the next scan of the directory for changes. A
# value of -1 deactivates the scan).
# A comma separated list can follow after the refresh value. This list defines a filter
# for valid file extensions for the models.
folder:items=-1,items
folder:sitemaps=10,sitemap
