$light-form-label-color: $light-primary-text-color !default;
$light-form-clear-icon-color: $light-secondary-text-color !default;
$light-form-clear-icon-pressing-color: $light-secondary-pressing-background-color !default;
$light-form-clear-icon-border-color: $light-form-clear-icon-color !default;