<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="openHAB Runtime Target Platform">
<locations>
<location path="${workspace_loc}/openhab/openhab-runtime/runner/bundles" type="Directory"/>
</locations>
</target>
